@font-face {
    font-family: 'Canela Web';
    src: url(media/Canela-Regular-Web.woff2.eot);
    src: url(media/Canela-Regular-Web.woff2.eot?#iefix) format("embedded-opentype"), url(media/Canela-Regular-Web.woff2) format("woff2"), url(media/Canela-Regular-Web.woff2) format("woff");
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
}

html {
    background-color: rgb(36, 36, 36);
    /* font-size: 125%; */
    line-height: 1.4;
    font-weight: 400;
    color: grey;
} 

body {
    margin: 0px;
    font-family: "Canela Web", serif;
    height: 100%;
    min-height: 100vh;
}

.container {
    height: 100%;
    width: 100%;
}

.top {
    display: grid;
    grid-template-columns: repeat(32, 1fr);
    grid-template-rows: 80px;
}

nav {
    height: 80px;
    overflow: hidden;
    margin-left: 0px;
    position: absolute;
    width: 100%;
    display: grid;
    grid-template-columns: 43% repeat(4, auto);
    background-color: rgb(219, 218, 218);
}

nav a { 
    color: rgb(51, 51, 51);
    text-align: center;
    padding: 35px 18px;
    text-decoration: none;
    font-size: 14px;
    display: grid;
    letter-spacing: 0em;
    transition: letter-spacing 2s ease;
}

.navstart {
    justify-items: left;
}

.nav1 {
    letter-spacing: 0.3em;
}

.navigation a:hover {
  color: rgb(189, 161, 5);
  letter-spacing: 0.5em;
  font-size: 16px;
  transition: all 1s ease;
}

.active-box {
    grid-area: 1 / 4 / span 1 / span 1;
    line-height: 0px;
    text-align: center;
}

.active {
    color: rgb(153, 130, 2);
    padding-bottom: 20px;
    padding-top: 45px;
} 

.active-line {
    background-color: rgb(153, 130, 2);
    height: 2px;
    width: 40px;
    margin-top: 0px;
    z-index: 2;
    display: inline-block;
    transition: all 2s ease;
}

.active-box:hover .active-line {
    width: 80px;
    transition: all 1s ease;
}

.btn {
    grid-area: 1 / 5 / span 1 / span 1;
    display: none;
}

#last {
    grid-area: 1 / 5 / span 1 / span 1;
}

.menu {
   display: none;
   grid-area: 2 / 1 / span 1 / span 32;
   z-index: 5;
   height: 240px;
}

.menu-group {
   background-color: rgb(190, 190, 190);
   grid-area: 2 / 1 / span 3 / span 32;
   height: 248px;
}

.menu a {
    display: block;
    padding: 20px 20px;
    text-decoration: none;
    color: black;
}

.menu a:hover {
    background-color: rgb(95, 94, 94);
    color: white;
}

#active {
    color: rgb(153, 130, 2);
}

#active:hover {
    color: white;
}

main {
    background-color: rgb(219, 218, 218);
}

.head {
    grid-area: 2 / 1 / span 1 / span 32;
    text-align: center;
    margin-top: 70px;
    animation-name: head;
    animation-duration: 1s; 
    animation-delay: 1.5s;
    visibility: hidden;
}

.head h1 {
    color: rgb(158, 58, 139);
    font-size: 45px;
}

.head p {
    font-size: 20px;
}

.head1 {
    visibility: visible;
}

@keyframes head {
    0% {transform: scaleY(0); transform-origin: bottom;}
    100% {transform: scaleY(1);}
}

.media {
    grid-area: 1 / 1 / span 1 / span 1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.videos {
    grid-area: 1 / 1 / span 1 / span 1;
    display: grid;
    grid-template-rows: 30px, repeat(8, 200px);
    grid-template-columns: repeat(2, 1fr);
}

.audio {
    grid-area: 1 / 2 / span 1 / span 1;
    display: grid;
    grid-template-rows: 30px, repeat(8, 200px);
}

.aud {
    grid-area: 1 / 1 / span 1 / span 2;
    text-align: center;
    font-size: 36px;
    line-height: 0px;


}

.vid {
    grid-area: 1 / 1 / span 1 / span 2;
    text-align: center;
    font-size: 36px;
    line-height: 0px; 


}

#mask-1 {
    grid-area: 2 / 1 / span 2 / span 2;
    overflow: hidden;
    display: grid;
    grid-template-columns: 100%;
    align-items: flex-end;
}

#selection {
    grid-area: 1 / 1 / span 1 / span 1;
    display: grid;
    grid-template-columns: 100%;
    align-items: flex-end;
    overflow: hidden;
}

#v1 {
    grid-area: 1 / 1 / span 1 / span 1;
    width: 100%;
    height: 400px;
    transition: transform 1s ease;
    overflow: hidden;
}

#title {
    grid-area: 1 / 1 / span 1 / span 1;
    display: grid;
    padding-left: 16px;
    padding-top: 5px;
    padding-bottom: 5px;
    height: 40px;
    z-index: 3;
}

#playIcon {
    grid-area: 1 / 1 / span 1 / span 1;
    display: grid;
    margin-bottom: -4px;

}

#play {
    grid-area: 1 / 1 / span 1 / span 1;
    margin-top: 14px;
}

#play-w {
    grid-area: 1 / 1 / span 1 / span 1;
    margin-top: 14px;
    visibility: hidden;
}

.song {
    grid-area: 1 / 1 / span 1 / span 1;
    font-size: 16px;
    margin-left: 30px;
    margin-right: 0px;
    margin-top: 17px;
    overflow: visible;
}

.bg-v {
    grid-area: 1 / 1 / span 1 / span 1;
    height: 40px;
    background-color: white;
    z-index: 2;
    transform: scaleX(1);
    transform-origin: left;
    transition: transform 1200ms cubic-bezier(0.23, 1, 0.32, 1);
}

.bg-v-h {
    grid-area: 1 / 1 / span 1 / span 1;
    height: 40px;
    background-color: rgb(50, 52, 54);
    z-index: 1;
}

#mask-1:hover .bg-v {
    transform: scaleX(0);
    transform-origin: right;
}

#mask-1:hover #v1 {
    transform: scale(1.25);
}

#mask-1:hover .song {
    color: white;
}

#mask-1:hover #play {
    visibility: hidden;
}

#mask-1:hover #play-w {
    visibility: visible;
}

.video-1 {
    grid-area: 2 / 1 / span 2 / span 2;
}


#mask-2 {
    grid-area: 4 / 1 / span 2 / span 1;
    overflow: hidden;
    display: grid;
    align-items: flex-end;
}

#v2 {
    grid-area: 1 / 1/ span 1 / span 1;
    width: 100%;
    height: 400px;
    transition: transform 1s ease;
    overflow: hidden;
}

#v2:hover {
    transform: scale(1.25);
}

#mask-2:hover .bg-v {
    transform: scaleX(0);
    transform-origin: right;
}

#mask-2:hover #v2 {
    transform: scale(1.25);
}

#mask-2:hover .song {
    color: white;
}

#mask-2:hover #play {
    visibility: hidden;
}

#mask-2:hover #play-w {
    visibility: visible;
}

.video-2 {
    grid-area: 4 / 1 / span 2 / span 1;
}

#mask-3 {
    grid-area: 6 / 1 / span 2 / span 1;
    overflow: hidden;
    display: grid;
    align-items: flex-end;
}

#v3 {
    grid-area: 1 / 1 / span 1 / span 1;
    width: 100%;
    height: 400px;
    transition: transform 1s ease;
    overflow: hidden;
}

#mask-3:hover .bg-v {
    transform: scaleX(0);
    transform-origin: right;
}

#mask-3:hover #v3 {
    transform: scale(1.15);
}

#mask-3:hover .song {
    color: white;
}

#mask-8 {
    grid-area: 5 / 1 / span 1 / span 1;
}

#mask-8:hover .bg-v {
    transform: scaleX(0);
    transform-origin: right;
}

#mask-8:hover #v3 {
    transform: scale(1.15);
}

#mask-8:hover .song {
    color: white;
}

#mask-8:hover #play {
    visibility: hidden;
}

#mask-8:hover #play-w {
    visibility: visible;
}

.video-7 {
    grid-area: 5 / 1 / span 1 / span 1;
    margin-top: auto;
    margin-bottom: auto;
}

#mask-9 {
    grid-area: 6 / 1 / span 2 / span 2;
}

#mask-9:hover .bg-v {
    transform: scaleX(0);
    transform-origin: right;
}

#mask-9:hover #v3 {
    transform: scale(1.15);
}

#mask-9:hover .song {
    color: white;
}

#mask-9:hover #play {
    visibility: hidden;
}

#mask-9:hover #play-w {
    visibility: visible;
}

.video-8 {
    grid-area: 6 / 1 / span 2 / span 2;
}

#mask-4 {
    grid-area: 2 / 1 / span 1 / span 1;
    /* overflow: hidden; */
    height: 200px;
    /* display: grid;
    align-items: flex-end; */
}

#selection-audio {
    display: grid;
    align-items: flex-end;
    overflow: hidden;
}

.video-3 {
    grid-area: 2 / 1 / span 1 / span 1;
}

#v4 {
    grid-area: 1 / 1 / span 1 / span 1;
    width: 100%;
    height: 200px;
    transition: transform 1s ease;
    overflow: hidden;
}

#mask-4:hover .bg-v {
    transform: scaleX(0);
    transform-origin: right;
}

#mask-4:hover #v4 {
    transform: scale(1.25);
}

#mask-4:hover .song {
    color: white;
}

#mask-4:hover #play {
    visibility: hidden;
}

#mask-4:hover #play-w {
    visibility: visible;
}

#mask-5 {
    grid-area: 3 / 1 / span 1 / span 1;
    overflow: hidden;
    
}

.video-4 {
    grid-area: 3 / 1 / span 1 / span 1;
}

#v5 {
    grid-area: 1 / 1 / span 1 / span 1;
    width: 100%;
    height: 200px;
    transition: transform 1s ease;
    overflow: hidden;
}

#mask-5:hover .bg-v {
    transform: scaleX(0);
    transform-origin: right;
}

#mask-5:hover #v5 {
    transform: scale(1.25);
}

#mask-5:hover .song {
    color: white;
}

#mask-5:hover #play {
    visibility: hidden;
}

#mask-5:hover #play-w {
    visibility: visible;
}

#mask-6 {
    grid-area: 4 / 1 / span 1 / span 1;
    overflow: hidden;
}

.video-5 {
    grid-area: 4 / 1 / span 1 / span 1;
}

#v6 {
    grid-area: 1 / 1 / span 1 / span 1;
    width: 100%;
    height: 200px;
    transition: transform 1s ease;
    overflow: hidden;
}

#mask-6:hover .bg-v {
    transform: scaleX(0);
    transform-origin: right;
}

#mask-6:hover #v6 {
    transform: scale(1.25);
}

#mask-6:hover .song {
    color: white;
}

#mask-6:hover #play {
    visibility: hidden;
}

#mask-6:hover #play-w {
    visibility: visible;
}

#mask-7 {
    grid-area: 5 / 1 / span 1 / span 1;
    overflow: hidden;  
}

.video-6 {
    grid-area: 5 / 1 / span 1 / span 1;
}

#v7 {
    grid-area: 1 / 1 / span 1 / span 1;
    width: 100%;
    height: 200px;
    transition: transform 1s ease;
    overflow: hidden;
}

#mask-7:hover .bg-v {
    transform: scaleX(0);
    transform-origin: right;
}

#mask-7:hover #v7 {
    transform: scale(1.25);
}

#mask-7:hover .song {
    color: white;
}

#mask-7:hover #play {
    visibility: hidden;
}

#mask-7:hover #play-w {
    visibility: visible;
}

#mask-10 {
    grid-area: 2 / 2 / span 1 / span 1;
}

#mask-10:hover .bg-v {
    transform: scaleX(0);
    transform-origin: right;
}

#mask-10:hover #v7 {
    transform: scale(1.25);
}

#mask-10:hover .song {
    color: white;
}

#mask-10:hover #play {
    visibility: hidden;
}

#mask-10:hover #play-w {
    visibility: visible;
}

.video-9 {
    grid-area: 2 / 2 / span 1 / span 1;
}

#mask-11 {
    grid-area: 3 / 2 / span 1 / span 1;
}

#mask-11:hover .bg-v {
    transform: scaleX(0);
    transform-origin: right;
}

#mask-11:hover #v7 {
    transform: scale(1.25);
}

#mask-11:hover .song {
    color: white;
}

#mask-11:hover #play {
    visibility: hidden;
}

#mask-11:hover #play-w {
    visibility: visible;
}

.video-10 {
    grid-area: 3 / 2 / span 1 / span 1;
}

#mask-12 {
    grid-area: 4 / 2 / span 1 / span 1;
}

#mask-12:hover .bg-v {
    transform: scaleX(0);
    transform-origin: right;
}

#mask-12:hover #v7 {
    transform: scale(1.25);
}

#mask-12:hover .song {
    color: white;
}

#mask-12:hover #play {
    visibility: hidden;
}

#mask-12:hover #play-w {
    visibility: visible;
}

.video-11 {
    grid-area: 4 / 2 / span 1 / span 1;
}

#mask-13 {
    grid-area: 5 / 2 / span 1 / span 1;
}

#mask-13:hover .bg-v {
    transform: scaleX(0);
    transform-origin: right;
}

#mask-13:hover #v7 {
    transform: scale(1.25);
}

#mask-13:hover .song {
    color: white;
}

#mask-13:hover #play {
    visibility: hidden;
}

#mask-13:hover #play-w {
    visibility: visible;
}

.video-12 {
    grid-area: 5 / 2 / span 1 / span 1;
}

#mask-14 {
    grid-area: 6 / 2 / span 1 / span 1;
}

#mask-14:hover .bg-v {
    transform: scaleX(0);
    transform-origin: right;
}

#mask-14:hover #v7 {
    transform: scale(1.25);
}

#mask-14:hover .song {
    color: white;
}

#mask-14:hover #play {
    visibility: hidden;
}

#mask-14:hover #play-w {
    visibility: visible;
}

.video-13 {
    grid-area: 6 / 2 / span 1 / span 1;
}

#mask-15 {
    grid-area: 7 / 2 / span 1 / span 1;
}

#mask-15:hover .bg-v {
    transform: scaleX(0);
    transform-origin: right;
}

#mask-15:hover #v7 {
    transform: scale(1.25);
}

#mask-15:hover .song {
    color: white;
}

#mask-15:hover #play {
    visibility: hidden;
}

#mask-15:hover #play-w {
    visibility: visible;
}

.video-14 {
    grid-area: 7 / 2 / span 1 / span 1;
}

#mask-16 {
    grid-area: 8 / 1 / span 2 / span 1;
    overflow: hidden;
    display: grid;
    align-items: flex-end;
}

#mask-16:hover .bg-v {
    transform: scaleX(0);
    transform-origin: right;
}

#mask-16:hover #v2 {
    transform: scale(1.25);
}

#mask-16:hover .song {
    color: white;
}

#mask-16:hover #play {
    visibility: hidden;
}

#mask-16:hover #play-w {
    visibility: visible;
}

.video-15 {
    grid-area: 8 / 1 / span 1 / span 1;
}

#mask-17 {
    grid-area: 8 / 1 / span 1 / span 1;
}

#mask-17:hover .bg-v {
    transform: scaleX(0);
    transform-origin: right;
}

#mask-17:hover #v7 {
    transform: scale(1.25);
}

#mask-17:hover .song {
    color: white;
}

#mask-17:hover #play {
    visibility: hidden;
}

#mask-17:hover #play-w {
    visibility: visible;
}

.video-16 {
    grid-area: 8 / 1 / span 1 / span 1;
}

#mask-18 {
    grid-area: 8 / 2 / span 1 / span 1;
}

#mask-18:hover .bg-v {
    transform: scaleX(0);
    transform-origin: right;
}

#mask-18:hover #v7 {
    transform: scale(1.25);
}

#mask-18:hover .song {
    color: white;
}

#mask-18:hover #play {
    visibility: hidden;
}

#mask-18:hover #play-w {
    visibility: visible;
}

.video-17 {
    grid-area: 8 / 2 / span 1 / span 1;
}

#mask-19 {
    grid-area: 9 / 1 / span 1 / span 2;
}

#mask-19:hover .bg-v {
    transform: scaleX(0);
    transform-origin: right;
}

#mask-19:hover #v7 {
    transform: scale(1.25);
}

#mask-19:hover .song {
    color: white;
}

#mask-19:hover #play {
    visibility: hidden;
}

#mask-19:hover #play-w {
    visibility: visible;
}

.video-18 {
    grid-area: 9 / 1 / span 1 / span 2;
}

#mask-20 {
    grid-area: 4 / 2 / span 2 / span 1;
    overflow: hidden;
    display: grid;
    align-items: flex-end;
}

#mask-20:hover .bg-v {
    transform: scaleX(0);
    transform-origin: right;
}

#mask-20:hover #v2 {
    transform: scale(1.25);
}

#mask-20:hover .song {
    color: white;
}

#mask-20:hover #play {
    visibility: hidden;
}

#mask-20:hover #play-w {
    visibility: visible;
}

.video-19 {
    grid-area: 4 / 2 / span 1 / span 1;
}

#mask-21 {
    grid-area: 8 / 2 / span 2 / span 1;
    overflow: hidden;
    display: grid;
    align-items: flex-end;
}

#mask-21:hover .bg-v {
    transform: scaleX(0);
    transform-origin: right;
}

#mask-21:hover #v2 {
    transform: scale(1.25);
}

#mask-21:hover .song {
    color: white;
}

#mask-21:hover #play {
    visibility: hidden;
}

#mask-21:hover #play-w {
    visibility: visible;
}

.video-20 {
    grid-area: 8 / 2 / span 1 / span 1;
}

.img {
    /* display: inline-block;  */
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.load {
    display: grid;
    height: 100%;
    width: 100%;
    max-width: max-content;
    margin: 0 auto 0 auto;
}

.bg-1 {
    grid-area: 1 / 1 / span 1 / span 1;
    background-color: rgb(219, 218, 218);
    height: 100%;
    width: 100%;
    margin: 0;
    z-index: 5;
}
 .bg-1-1 {
    transition: transform 1000ms cubic-bezier(0.23, 1, 0.32, 1); 
    transform: scaleX(0);
    transform-origin: right;
    transition-delay: .5s;
 }

.bg-2 {
    grid-area: 1 / 1 / span 1 / span 1;
    background-color: grey;
    height: 100%; 
    width: 100%;
    margin: 0;
    z-index: 4;
}

.bg-2-2 {
    transition: transform 1000ms cubic-bezier(0.23, 1, 0.32, 1); 
    transform: scaleX(0);
    transform-origin: right;
}

footer {
    background-color: rgb(36, 36, 36); 
    width: 100%;
    color: white;
    font-size: 14px;
    left: 0;
    bottom: 0;
}

.contact {
    text-align: center;
}

.contact-text {
    margin-top: 160px;
    letter-spacing: .2em;
}

.contact-button-group {
    display: inline-block;
    height: 1px;
}

.contact-btn {
    display: grid;
    margin-top: 60px;
}

.button-c {
    grid-area: 1 / 1 / span 1 / span 1;
    font-size: 18px;
    color: rgb(83, 83, 83);
    padding-top: 20px;
    text-decoration: none;
    z-index: 3;
}

.button-bg-c {
    grid-area: 1 / 1 / span 1 / span 1;
    background-color: rgb(234, 221, 150);
    transform: scaleX(1);
    transform-origin: left;
    transition: transform 1200ms cubic-bezier(0.23, 1, 0.32, 1);
    z-index: 2;
}

.button-bg-h-c {
    grid-area: 1 / 1 / span 1 / span 1;
    background-color: rgb(158, 58, 139);
    height: 40px;
    width: 150px;
    padding-top: 20px;
    z-index: 1;
}

.contact-button-group:hover .button-bg-c {
    transform: scaleX(0);
    transform-origin: right;
}

.contact-button-group:hover .button-c {
    color: white;
}

#line-b {
    height: 1px;
    width: 90%;
    background-color: white;
    margin-top: 180px;
    margin-left: 50px;
}

.navigation-b {
    width: 94%;
    grid-template-columns: 45% repeat(4, auto) 20%;
    z-index: 3;
    background-color: rgb(36, 36, 36);
}

.navigation-b a { 
    float: left;
    padding: 35px 0px;
    color: white;
}

.navigation-b a:hover {
    color: rgb(189, 161, 5);
    transition: all 1s ease;
}

.navstart-b {
    margin-left: 50px;
    justify-items: left;
  }

.foot {
    font-size: 12px;
    margin-top: 37px;
    text-align: right;
    color: rgb(184, 184, 184);
}

@media only screen and (max-width: 850px) {
    .btn {
        display: block;
    }

    #link {
        display: none;
    }

    #link1 {
        display: none;
    }

    #link2 {
        display: none;
    }

    #last {
        display: none;
    }

    .active-line {
        display: none;
    }

    .navstart {
        grid-area: 1 / 1 / span 1 / span 2;
    }

    #line-b {
        width: 85%;
    }

    #hide-nav {
        display: none;
    }

    .navigation-b {
        grid-template-columns: 50% 50%;
    }

    .media {
        grid-template-columns: 100%;
    }

    .audio {
        grid-area: 10 / 1 / span 1 / span 1;
    }
}